<h1>New Login Alert</h1>
<p>Hello <%= @user.name %>,</p>
<p>Your account was just signed in.</p>
<p><strong>Time:</strong> <%= @login_time %></p>
<p>If this was not you, please reset your password.</p>
