<h1>Product Updated</h1>
<p>Hello <%= @product.user.name %>,</p>
<p>Your product details were updated.</p>
<ul>
  <li><strong>Product:</strong> <%= @product.name %></li>
  <li><strong>Price:</strong> <%= @product.price %></li>
  <li><strong>Stock:</strong> <%= @product.stock %></li>
</ul>
<p>Thanks,<br>ShopEase</p>
